In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\caiog\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\caiog\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\users\caiog\appdata\roaming\python\python38\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="statlog"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM ")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1