In [24]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [25]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pymysql import connect


%matplotlib inline

In [30]:
data_base = connect(host='localhost',
                         user = 'root',
                         passwd = 'root')

NameError: name 'query' is not defined

In [ ]:
cur = data_base.cursor()

In [42]:
query = 'show databases'

In [43]:
cur.execute(query)

16

In [49]:
data_bases = cur.fetchall

In [52]:
for data in data_bases:
    print(data)

TypeError: 'method' object is not iterable